body{
    font-family: cursive;
}
button{
    border-radius: 30px;
    font-family: monospace;
    padding-left: 10px;
    margin-left: 30px;
    font-size: larger;
}
button:hover{
    border-radius: 30%;
    border-style: dashed;
    font-size: larger;
    background-color: aqua;
    color: white;
    border-style: dashed;
    padding:4px;
    font-family: cursive;
    cursor: pointer;
    box-shadow: aqua 0px 8px 29px 0px;

}

input[type="text"]
{
    font-family: monospace;
    padding:5px;
    color:none;
    background-color: none;
}
input[type="text"]:hover
{
    padding:11px;
    color:black;
    background-color: aqua;
    box-shadow: aqua 0px 7px 29px 0px;
    border-radius: 30px;
    border-bottom-style: dashed;
    font-family: cursive;
}
p{
    background-color: aqua;
    border:2px solid black;
    /*height: 100px;
    width: 300px;
    overflow: auto;*/
}

.circle{
    margin-top: 40px;
    margin-left: 40px;
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color: black;
    border-bottom-color:transparent ;
    animation: rotation 1s linear infinite;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}